<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="fancyfs" type="FancyFS.Hosting.ASPNET.FancyConfigurationSection"/>
  </configSections>
  <fancyfs>
    <pipeline assembly="FancyFS.ASP.Example" type="FancyFS.ASP.Example.ExamplePipelineLocation"></pipeline>
  </fancyfs>
  <system.web>
    <compilation debug="true" targetFramework="4.5"></compilation>
    <httpHandlers>
      <add verb="*" path="*" type="FancyFS.Hosting.ASPNET.FancyRequestHandler"/>
    </httpHandlers>
  </system.web>
<system.webServer>
  <modules runAllManagedModulesForAllRequests="true"></modules>
  <validation validateIntegratedModeConfiguration="false"/>
  <handlers>
    <add name="Fancy" verb="*" path="*" type="FancyFS.Hosting.ASPNET.FancyRequestHandler"/>
  </handlers>
</system.webServer>
</configuration>
